<div class="container-fluid" ng-app="rotae">
  <div class="panel panel-success">
  	<div class="panel-heading">
		<h1>Hello, Rails!</h1>
    </div>
    <div class="panel-body">
    <%= link_to 'Your Tasks', tasks_path %>
    </div>
  </div>

</div>